config WLAN_VENDOR_LAIRD
	bool "Laird Connectivity WLAN devices"
	default y
	help
	  If you have a wireless card belonging to this class, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about  cards. If you say Y, you will be asked for
	  your specific card in the following questions.

if WLAN_VENDOR_LAIRD

config LRDMWL
	tristate "60 Series driver (mac80211 compatible)"
	depends on MAC80211
	help
		Select to build the driver supporting the:

		Laird Connectivity 60 Series Wi-Fi module

		This driver uses the kernel's mac80211 subsystem.

		If you want to compile the driver as a module (= code which can be
		inserted in and removed from the running kernel whenever you want),
		say M here and read <file:Documentation/kbuild/modules.txt>.  The
		module will be called lrdmwl.

if LRDMWL

config LRDMWL_PCIE
	tristate "PCIe Bus"
	depends on PCI
	select FW_LOADER
	help
		Select to build the driver supporting the:

		Laird Connectivity 60 Series Wi-Fi module for PCIE

		This driver uses the kernel's mac80211 subsystem.

		If you want to compile the driver as a module (= code which can be
		inserted in and removed from the running kernel whenever you want),
		say M here and read <file:Documentation/kbuild/modules.txt>.  The
		module will be called lrdmwl_pcie.

config LRDMWL_SDIO
	tristate "SDIO Bus"
	depends on MMC
	select FW_LOADER
	help
		Select to build the driver supporting the:

		Laird Connectivity 60 Series Wi-Fi module for SDIO

		This driver uses the kernel's mac80211 subsystem.

		If you want to compile the driver as a module (= code which can be
		inserted in and removed from the running kernel whenever you want),
		say M here and read <file:Documentation/kbuild/modules.txt>.  The
		module will be called lrdmwl_sdio.

config LRDMWL_USB
	tristate "USB Bus"
	depends on USB
	select FW_LOADER
	help
		Select to build the driver supporting the:

		Laird Connectivity 60 Series Wi-Fi module for USB

		This driver uses the kernel's mac80211 subsystem.

		If you want to compile the driver as a module (= code which can be
		inserted in and removed from the running kernel whenever you want),
		say M here and read <file:Documentation/kbuild/modules.txt>.  The
		module will be called lrdmwl_usb.

config LRDMWL_FIPS
	bool "FIPS support for 60 Series based SOMs"
	help
		Enables FIPS operation for SOM60

endif # LRDMWL

config LRD_MWIFIEX
	tristate "Sona Series driver (cfg80211 compatible)"
	depends on CFG80211
	help
		Select to build the mwifiex driver for thick firmware architecture

		If you want to compile the driver as a module (= code which can be
		inserted in and removed from the running kernel whenever you want),
		say M here and read <file:Documentation/kbuild/modules.txt>.  The
		modules will be called moal and mlan.

if LRD_MWIFIEX
config LRD_MWIFIEX_NX61X
	bool "Sona NX611 driver"
	depends on MMC
	select FW_LOADER
	help
		Sona NX611 Wi-Fi module

config LRD_MWIFIEX_8997
	bool "8997 driver for manufacturing"
	help
		8997 Wi-Fi module for manufacturing purposes only

if LRD_MWIFIEX_8997
config LRD_MWIFIEX_8997_PCIE
	bool "PCIE Bus"
	depends on PCI
	select FW_LOADER
	help
		PCIe Wi-Fi module

config LRD_MWIFIEX_8997_SDIO
	bool "SDIO Bus"
	depends on MMC
	select FW_LOADER
	help
		SDIO Wi-Fi module
endif # LRD_MWIFIEX_8997

endif # LRD_MWIFIEX

config QCA_CLD_WLAN
	tristate "Qualcomm Atheros CLD WLAN module"
	depends on CFG80211
	depends on MMC
	select FW_LOADER
	select CRYPTO
	select CRYPTO_AES
	select CRYPTO_CTR
	help
		Add support for the Qualcomm Atheros CLD WLAN module

if QCA_CLD_WLAN

config QCACLD_WLAN_LFR3
	bool "Enable the WLAN Legacy Fast Roaming feature Version 3"

config PRIMA_WLAN_OKC
	bool "Enable the Prima WLAN Opportunistic Key Caching feature"

config PRIMA_WLAN_11AC_HIGH_TP
	bool "Enable the Prima WLAN 802.11ac High Throughput option (depends upon kernel support)"

config WLAN_FEATURE_11W
	bool "Enable the WLAN 802.11w Protected Management Frames feature"
	default y

config WLAN_FEATURE_LPSS
	bool "Enable the WLAN LPSS feature"
	default y

config QCOM_VOWIFI_11R
	bool "Enable Fast Transition (11r) feature"
	default y

config WLAN_FEATURE_NAN
	bool "Enable NAN feature"
	default y

config WLAN_FEATURE_NAN_DATAPATH
	bool "Enable NaN Data Path feature"
	depends on WLAN_FEATURE_NAN

config QCOM_TDLS
	bool "Enable TDLS feature"
	default y

config QCOM_LTE_COEX
	bool "Enable QCOM LTE Coex feature"
	default y

config WLAN_SYNC_TSF
	bool "Enable QCOM sync multi devices tsf feature"

config WLAN_OFFLOAD_PACKETS
	bool "Enable offload packets feature"
	default y

config QCA_WIFI_AUTOMOTIVE_CONC
	bool "Enable 3 port concurrency feature"

config WLAN_UDP_RESPONSE_OFFLOAD
	bool "Enable UDP response offload feature"

config WLAN_WOW_PULSE
	bool "Enable WOW Pulse feature"

config DPTRACE_ENABLE
	bool "Enable DPTRACE feature for non performance builds"

endif # QCA_CLD_WLAN

endif # WLAN_VENDOR_LAIRD
