/*
 * at91-som60.dtsi - Device Tree file for the SOM60 module
 *
 *  Copyright (C) 2018 Laird,
 *		  2018 Ben Whitten <ben.whitten@lairdtech.com>
 *
 * Licensed under GPLv2 or later.
 */

/dts-v1/;

/* DVK board definition */
#include "at91-dvk_su60_somc.dtsi"

&ssc0 {
	status = "disabled";
};

&i2c0 {
	status = "disabled";

	/delete-node/ wm8904@1a;
};

&i2c1 {
	status = "disabled";

	/delete-node/ spi-flash@0;
};

