/*
 * at91-ig60.dts - Device Tree file for the DVK SOM60 board
 *
 *  Copyright (C) 2018 Laird,
 *		  2018 Ben Whitten <ben.whitten@lairdtech.com>
 *
 * Licensed under GPLv2 or later.
 */
/dts-v1/;
#include "at91-ig60-som60.dtsi"
#include "at91-ig60_somc.dtsi"

/ {
	model = "Laird IG60";
	compatible = "laird,ig60", "laird,som60", "atmel,sama5d36", "atmel,sama5d3", "atmel,sama5";

	chosen {
		stdout-path = &dbgu;
		tick-timer = &pit;
	};

  gpio_keys {
      compatible = "gpio-keys";
      #address-cells = <1>;
      #size-cells = <0>;

      btn0@pa2 {
        label = "BTN0";
        linux,code = <0x100>; /* BTN0 button */
        gpios = <&pioA 2 GPIO_ACTIVE_LOW>;
        linux,input-type = <1>; /*EV.KEY*/
        debounce-interval = <100>; /*Debounce interval 100ms*/
      };
  };

  status_leds {
      compatible = "gpio-leds";

      led@1 {
          label = "ig60:red:power";
          gpios = <&pioA 29 GPIO_ACTIVE_LOW>;
          panic-indicator;
      };

      led@2 {
          label = "ig60:green:power";
          gpios = <&pioA 17 GPIO_ACTIVE_LOW>;
          linux,default-trigger = "timer";
          panic-indicator;
      };

      led@3 {
          label = "ig60:red:device";
          gpios = <&pioA 13 GPIO_ACTIVE_LOW>;
          default-state = "off";

      };

      led@4 {
          label = "ig60:green:device";
          gpios = <&pioA 15 GPIO_ACTIVE_LOW>;
          default-state = "off";
      };

      led@5 {
          label = "ig60:red:storage";
          gpios = <&pioA 18 GPIO_ACTIVE_LOW>;
          default-state = "off";
      };

      led@6 {
          label = "ig60:green:iot";
          gpios = <&pioA 25 GPIO_ACTIVE_LOW>;
          default-state = "off";
      };

      led@7 {
          label = "ig60:red:signal1";
          gpios = <&pioA 1 GPIO_ACTIVE_LOW>;
          default-state = "off";
      };

      led@8 {
          label = "ig60:green:signal1";
          gpios = <&pioA 6 GPIO_ACTIVE_LOW>;
          default-state = "off";
      };

      led@9 {
          label = "ig60:green:signal2";
          gpios = <&pioA 16 GPIO_ACTIVE_LOW>;
          default-state = "off";
      };

      led@10 {
          label = "ig60:green:signal3";
          gpios = <&pioA 27 GPIO_ACTIVE_LOW>;
          default-state = "off";
      };

      led@11 {
          label = "ig60:green:signal4";
          gpios = <&pioA 3 GPIO_ACTIVE_LOW>;
          default-state = "off";
      };
  };
};

&mmc0 {
	status = "okay";
};

&spi0 {
	status = "okay";
};

&ssc0 {
	status = "okay";
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&usart1 {
	status = "okay";
};

&usart2 {
	status = "okay";
};

&usart3 {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&dbgu {
	status = "okay";
};

&pit {
	status = "okay";
};

&adc0 {
	status = "okay";
};

&can1 {
	status = "okay";
};

&macb0 {
	status = "okay";
};

&macb1 {
	status = "okay";
};

&usb0 {
	status = "okay";
};

&usb1 {
	status = "okay";
};

&usb2 {
	status = "okay";
};
