/*
 * at91-ig60.dts - Device Tree file for Laird IG60, based on SOM60 module
 *
 *  Copyright (C) 2018 Laird,
 *		  2018 Ben Whitten <ben.whitten@lairdtech.com>
 *		  2018 Boris Krasnovskiy <boris.krasnovskiy@lairdtech.com>
 *
 * Licensed under GPLv2 or later.
 */

/dts-v1/;

#include "at91-som60.dtsi"

/ {
	model = "Laird IG60";
	compatible = "laird,ig60", "laird,som60", "atmel,sama5d36", "atmel,sama5d3", "atmel,sama5";

	reg_mmc0_en: reg_mmc0_en_grp {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_mmc0_en>;

		compatible = "regulator-fixed";
		regulator-name = "VDD MMC0";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		gpio = <&pioE 30 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	ahb {
		apb {
			pinctrl@fffff200 {
				board {
					pinctrl_mmc0_cd: mmc0_cd {
						atmel,pins =
							<AT91_PIOE 31 AT91_PERIPH_GPIO AT91_PINCTRL_DEGLITCH>;
					};

					pinctrl_mmc0_en: mmc0_en {
						atmel,pins =
							<AT91_PIOE 30 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
					};

					pinctrl_usb_vbus: usb_vbus {
						atmel,pins =
							<AT91_PIOE 20 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
					};

					pinctrl_usb_oc: usb_oc {
						atmel,pins =
							<AT91_PIOE 15 AT91_PERIPH_GPIO AT91_PINCTRL_DEGLITCH>;
					};

					pinctrl_usba_vbus: usba_vbus {
					   atmel,pins =
							<AT91_PIOC 14 AT91_PERIPH_GPIO AT91_PINCTRL_DEGLITCH>;
					};

					pinctrl_geth_int: geth_int {
						atmel,pins =
							<AT91_PIOB 25 AT91_PERIPH_GPIO AT91_PINCTRL_DEGLITCH>;
					};

					pinctrl_eth_int: eth_int {
						atmel,pins =
							<AT91_PIOC 10 AT91_PERIPH_GPIO AT91_PINCTRL_DEGLITCH>;
					};

				};
			};

			watchdog@fffffe40 {
				status = "okay";
			};

		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;

		btn0@pa2 {
			label = "BTN0";
			linux,code = <0x100>; /* BTN0 button */
			gpios = <&pioA 2 GPIO_ACTIVE_LOW>;
			linux,input-type = <1>; /*EV.KEY*/
			debounce-interval = <100>; /*Debounce interval 100ms*/
		};
	};

	status_leds {
		compatible = "gpio-leds";

		led@1 {
			label = "ig60:red:power";
			gpios = <&pioA 29 GPIO_ACTIVE_LOW>;
			panic-indicator;
		};

		led@2 {
			label = "ig60:green:power";
			gpios = <&pioA 17 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "timer";
			panic-indicator;
		};

		led@3 {
			label = "ig60:red:device";
			gpios = <&pioA 13 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led@4 {
			label = "ig60:green:device";
			gpios = <&pioA 15 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led@5 {
			label = "ig60:red:storage";
			gpios = <&pioA 18 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led@6 {
			label = "ig60:green:iot";
			gpios = <&pioA 25 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led@7 {
			label = "ig60:red:signal1";
			gpios = <&pioA 1 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led@8 {
			label = "ig60:green:signal1";
			gpios = <&pioA 6 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led@9 {
			label = "ig60:green:signal2";
			gpios = <&pioA 16 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led@10 {
			label = "ig60:green:signal3";
			gpios = <&pioA 27 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led@11 {
			label = "ig60:green:signal4";
			gpios = <&pioA 3 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};
};

&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_mmc0_clk_cmd_dat0 &pinctrl_mmc0_dat1_3 &pinctrl_mmc0_cd>;

	vmmc-supply = <&reg_mmc0_en>;
	status = "okay";

	slot@0 {
		reg = <0>;
		bus-width = <4>;

		cd-gpios = <&pioE 31 GPIO_ACTIVE_HIGH>;
	};
};

&macb0 {
	status = "okay";

	ethernet-phy@7 {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_geth_int>;

		reg = <7>;
		interrupt-parent = <&pioB>;
		interrupts = <25 IRQ_TYPE_EDGE_FALLING>;
	};
};

&macb1 {
	status = "okay";

	ethernet-phy@1 {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_eth_int>;

		reg = <1>;
		interrupt-parent = <&pioC>;
		interrupts = <10 IRQ_TYPE_EDGE_FALLING>;
	};
};

&usart1 {
	pinctrl-0 = <&pinctrl_usart1 &pinctrl_usart1_rts_cts>;
	atmel,use-dma-rx;
	atmel,use-dma-tx;
	status = "okay";
};

&usart2 {
	pinctrl-0 = <&pinctrl_usart2 &pinctrl_usart2_rts_cts>;
	atmel,use-dma-rx;
	atmel,use-dma-tx;
	status = "okay";
};

&usart3 {
	pinctrl-0 = <&pinctrl_usart3 &pinctrl_usart3_rts_cts>;
	atmel,use-dma-rx;
	atmel,use-dma-tx;
	status = "okay";
};

&uart0 {
	status = "okay";
};

&dbgu {
	status = "okay";
};

&adc0 {
	status = "okay";
};

&can1 {
	status = "okay";
};

&usb1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb_oc &pinctrl_usb_vbus>;

	num-ports = <1>;
	atmel,vbus-gpio = <&pioE 20 GPIO_ACTIVE_HIGH>;
	atmel,oc-gpio = <&pioE 15 GPIO_ACTIVE_LOW>;

	status = "okay";
};

&usb2 {
	status = "okay";
};

&nand_controller {
	status = "okay";

	nand: nand@3 {
		reg = <0x3 0x0 0x2>;
		atmel,rb = <0>;
		nand-bus-width = <8>;
		nand-ecc-mode = "hw";
		nand-ecc-strength = <8>;
		nand-ecc-step-size = <512>;
		nand-on-flash-bbt;
		label = "atmel_nand";

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			ubootspl@0 {
				label = "u-boot-spl";
				reg = <0x0 0x20000>;
			};

			uboot@20000 {
				label = "u-boot";
				reg = <0x20000 0x80000>;
			};

			ubootenv@a0000 {
				label = "u-boot-env";
				reg = <0xa0000 0x20000>;
			};

			ubootenv@c0000 {
				label = "u-boot-env";
				reg = <0xc0000 0x20000>;
			};

			ubi@e0000 {
				label = "ubi";
				reg = <0xe0000 0x1fc00000>;
			};
		};
	};
};
