/*
 * at91-ig60.dtsi - Device Tree file for Laird IG60 board
 *
 *  Copyright (C) 2018 Laird,
 *		  2018 Ben Whitten <ben.whitten@lairdconnect.com>
 *		  2018 Boris Krasnovskiy <boris.krasnovskiy@lairdconnect.com>
 *
 * Licensed under GPLv2 or later.
 */

/ {
	reg_mmc0_en: reg_mmc0_en_grp {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_mmc0_en>;

		compatible = "regulator-fixed";
		regulator-name = "VDD MMC0";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		gpio = <&pioE 30 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	gpio_keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;

		btn0@pa2 {
			label = "BTN0";
			linux,code = <0x100>;		/* BTN0 button */
			gpios = <&pioA 2 GPIO_ACTIVE_LOW>;
			linux,input-type = <1>; 	/* EV.KEY */
			debounce-interval = <100>;	/* Debounce interval 100 ms */
		};
	};

	status_leds {
		compatible = "gpio-leds";

		led@1 {
			label = "ig60:red:power";
			gpios = <&pioA 29 GPIO_ACTIVE_LOW>;
			panic-indicator;
		};

		power_led_green: led@2 {
			label = "ig60:green:power";
			gpios = <&pioA 17 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "timer";
			panic-indicator;
		};

		led@3 {
			label = "ig60:red:device";
			gpios = <&pioA 13 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led@4 {
			label = "ig60:green:device";
			gpios = <&pioA 15 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led@5 {
			label = "ig60:red:storage";
			gpios = <&pioA 18 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led@6 {
			label = "ig60:green:iot";
			gpios = <&pioA 25 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led@7 {
			label = "ig60:red:signal1";
			gpios = <&pioA 1 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led@8 {
			label = "ig60:green:signal1";
			gpios = <&pioA 6 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led@9 {
			label = "ig60:green:signal2";
			gpios = <&pioA 16 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led@10 {
			label = "ig60:green:signal3";
			gpios = <&pioA 27 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led@11 {
			label = "ig60:green:signal4";
			gpios = <&pioA 3 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};

	gpio {
		compatible = "gpio-of-helper";
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_misc>;

		bt_boot_status {
			gpio-name = "bt_boot_status";
			gpio = <&pioA 26 GPIO_ACTIVE_HIGH>;
			input;
		};

		bt_boot_mode {
			gpio-name = "bt_boot_mode";
			gpio = <&pioA 23 GPIO_ACTIVE_HIGH>;
			output;
			init-high;
		};

		bt_nautorun {
			gpio-name = "bt_nautorun";
			gpio = <&pioA 21 GPIO_ACTIVE_HIGH>;
			output;
			init-low;
		};

		card_detect1 {
			gpio-name = "card_detect1";
			gpio = <&pioA 8 GPIO_ACTIVE_HIGH>;
			input;
		};

		card_detect2 {
			gpio-name = "card_detect2";
			gpio = <&pioA 10 GPIO_ACTIVE_HIGH>;
			input;
		};

		card_detect3 {
			gpio-name = "card_detect3";
			gpio = <&pioA 19 GPIO_ACTIVE_HIGH>;
			input;
		};

		card_nreset {
			gpio-name = "card_nreset";
			gpio = <&pioA 24 GPIO_ACTIVE_HIGH>;
			output;
			init-high;
		};

		ser_rs485_hd {
			gpio-name = "ser_rs485_hd";
			gpio = <&pioA 20 GPIO_ACTIVE_HIGH>;
			output;
			init-high;
		};

		ser_nrs232 {
			gpio-name = "ser_nrs232";
			gpio = <&pioA 22 GPIO_ACTIVE_HIGH>;
			output;
			init-low;
		};

		ser_term {
			gpio-name = "ser_term";
			gpio = <&pioA 28 GPIO_ACTIVE_HIGH>;
			output;
			init-low;
		};

		lte_on {
			gpio-name = "lte_on";
			gpio = <&pioA 7 GPIO_ACTIVE_HIGH>;
			output;
			init-high;
		};

		lte_emerg_off {
			gpio-name = "lte_emerg_off";
			gpio = <&pioC 28 GPIO_ACTIVE_HIGH>;
			output;
			init-low;
		};

		lte_fast_shdn {
			gpio-name = "lte_fast_shdn";
			gpio = <&pioC 25 GPIO_ACTIVE_HIGH>;
			output;
			init-high;
		};

		lte_status {
			gpio-name = "lte_status";
			gpio = <&pioA 9 GPIO_ACTIVE_HIGH>;
			input;
		};

	};
};

&pinctrl {
	board {
		pinctrl_mmc0_cd: mmc0_cd {
			atmel,pins =
				<AT91_PIOE 31 AT91_PERIPH_GPIO AT91_PINCTRL_DEGLITCH>;
		};

		pinctrl_mmc0_en: mmc0_en {
			atmel,pins =
				<AT91_PIOE 30 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
		};

		pinctrl_usb_vbus: usb_vbus {
			atmel,pins =
				<AT91_PIOE 20 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
		};

		pinctrl_usb_oc: usb_oc {
			atmel,pins =
				<AT91_PIOE 15 AT91_PERIPH_GPIO AT91_PINCTRL_DEGLITCH>;
		};

		pinctrl_lte_usb_vbus: lte_usb_vbus {
			atmel,pins =
				<AT91_PIOE 16 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
		};

		pinctrl_geth_int: geth_int {
			atmel,pins =
				<AT91_PIOB 25 AT91_PERIPH_GPIO AT91_PINCTRL_DEGLITCH>;
		};

		pinctrl_eth_int: eth_int {
			atmel,pins =
				<AT91_PIOC 10 AT91_PERIPH_GPIO AT91_PINCTRL_DEGLITCH>;
		};

		pinctrl_gpio_misc: gpio_misc {
			atmel,pins =
				<AT91_PIOA 26 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>,
				<AT91_PIOA 23 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>,
				<AT91_PIOA 21 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>,
				<AT91_PIOA 8 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP>,
				<AT91_PIOA 10 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP>,
				<AT91_PIOA 19 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP>,
				<AT91_PIOA 24 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>,
				<AT91_PIOA 20 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>,
				<AT91_PIOA 28 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>,
				<AT91_PIOA 22 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>,
				<AT91_PIOA 7 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>,
				<AT91_PIOC 28 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>,
				<AT91_PIOC 25 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>,
				<AT91_PIOA 9 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
		};
	};
};

&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_mmc0_clk_cmd_dat0 &pinctrl_mmc0_dat1_3 &pinctrl_mmc0_cd>;

	vmmc-supply = <&reg_mmc0_en>;
	status = "okay";

	slot@0 {
		reg = <0>;
		bus-width = <4>;

		cd-gpios = <&pioE 31 GPIO_ACTIVE_HIGH>;
	};
};

&macb0 {
	status = "okay";

	ethernet-phy@7 {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_geth_int>;

		reg = <7>;
		interrupt-parent = <&pioB>;
		interrupts = <25 IRQ_TYPE_EDGE_FALLING>;

		ksz9021,rgmii_2.0_timing;
	};
};

&macb1 {
	status = "okay";

	ethernet-phy@1 {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_eth_int>;

		reg = <1>;
		interrupt-parent = <&pioC>;
		interrupts = <10 IRQ_TYPE_EDGE_FALLING>;
	};
};

&usart1 {
	pinctrl-0 = <&pinctrl_usart1 &pinctrl_usart1_rts_cts>;
	atmel,use-dma-rx;
	atmel,use-dma-tx;
	status = "okay";
};

&usart2 {
	pinctrl-0 = <&pinctrl_usart2 &pinctrl_usart2_rts_cts>;
	atmel,use-dma-rx;
	atmel,use-dma-tx;
	status = "okay";
};

&uart0 {
	status = "okay";
};

&adc0 {
	status = "okay";
};

&can1 {
	status = "okay";
};

&usb1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb_oc &pinctrl_usb_vbus &pinctrl_lte_usb_vbus>;

	num-ports = <3>;
	atmel,vbus-gpio = <0>, <&pioE 20 GPIO_ACTIVE_HIGH>, <&pioE 16 GPIO_ACTIVE_LOW>;
	atmel,oc-gpio = <0>, <&pioE 15 GPIO_ACTIVE_LOW>, <0>;

	status = "okay";
};

&usb2 {
	status = "okay";
};
