// SPDX-License-Identifier: GPL-2.0
/*
 * at91-dvk_som60.dts - Device Tree file for the DVK SOM60 board
 *
 *  Copyright (C) 2018 Laird,
 *		  2018 Ben Whitten <ben.whitten@lairdtech.com>
 *		  2018 Boris Krasnovskiy <boris.krasnovskiy@lairdtech.com>
 *
 * Licensed under GPLv2 or later.
 */

/dts-v1/;

/* DVK board definition */
#include "at91-dvk_su60_somc.dtsi"

/* Display & touchscreen definition */
#include "at91-dvk_su60_somc_lcm.dtsi"
