// SPDX-License-Identifier: GPL-2.0
/*
 * at91-wb40n.dts - Device Tree file for WB40N CPU module
 *
 *  Copyright (C) 2020 Laird Connectivity
 *
 */

/dts-v1/;

#include "at91sam9g20.dtsi"

/ {
	model = "Laird Workgroup Bridge 40N - AT91SAM9G20";
	compatible = "laird,wb40n", "atmel,at91sam9g20", "atmel,at91sam9";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@20000000 {
		reg = <0x20000000 0x2000000>;
	};

	clocks {
		slow_xtal {
			clock-frequency = <32768>;
		};

		main_xtal {
			clock-frequency = <18432000>;
		};
	};

	ahb {
		apb {
			pinctrl@fffff400 {
				board {
					pinctrl_mmc0_cd: mmc0_cd {
						atmel,pins =
							<AT91_PIOC 5 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP_DEGLITCH>; /* PC5 GPIO with pullup deglitch */
					};

					pinctrl_usba_vbus: usba_vbus {
						atmel,pins =
							<AT91_PIOC 21 AT91_PERIPH_GPIO AT91_PINCTRL_DEGLITCH>; /* PC21 GPIO with deglitch */
					};

					pinctrl_usb_vbus: usb_vbus {
						atmel,pins =
							<AT91_PIOC 0 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>,
							<AT91_PIOC 1 AT91_PERIPH_GPIO AT91_PINCTRL_DEGLITCH>;
					};

					pinctrl_ssd40: ssd40 {
						atmel,pins =
							<AT91_PIOB 13 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP>,
							<AT91_PIOB 31 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP>;
					};

					pinctrl_leds: leds {
						atmel,pins =
							<AT91_PIOA 25 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>,
							<AT91_PIOA 26 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>,
							<AT91_PIOA 27 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>,
							<AT91_PIOA 28 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>,
							<AT91_PIOA 29 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
					};
				};
			};

			rtc@fffffd20 {
				atmel,rtt-rtc-time-reg = <&gpbr 0x0>;
				status = "okay";
			};

			watchdog@fffffd40 {
				atmel,idle-halt;
				status = "okay";
			};

			gpbr: syscon@fffffd50 {
				status = "okay";
			};
		};
	};

	leds {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_leds>;

		compatible = "gpio-leds";

		stat0 {
			label = "stat0";
			gpios = <&pioA 28 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		stat1 {
			label = "stat1";
			gpios = <&pioA 29 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led0 {
			label = "wb50n:blue:led0";
			gpios = <&pioA 25 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led1 {
			label = "wb50n:green:led1";
			gpios = <&pioA 26 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led2 {
			label = "wb50n:red:led2";
			gpios = <&pioA 27 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};
};

&tcb0 {
	timer@0 {
		compatible = "atmel,tcb-timer";
		reg = <0>, <1>;
	};

	timer@2 {
		compatible = "atmel,tcb-timer";
		reg = <2>;
	};
};

&usb0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb_vbus>;

	status = "okay";

	atmel,vbus-gpio = <&pioC 0 GPIO_ACTIVE_LOW>;
	atmel,oc-gpio = <&pioC 1 GPIO_ACTIVE_HIGH>;

	num-ports = <2>;
};

&usb1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usba_vbus>;

	status = "okay";

	atmel,vbus-gpio = <&pioC 21 GPIO_ACTIVE_LOW>;
};

&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <
		&pinctrl_mmc0_clk
		&pinctrl_mmc0_slot0_cmd_dat0 &pinctrl_mmc0_slot0_dat1_3
		&pinctrl_mmc0_slot1_cmd_dat0 &pinctrl_mmc0_slot1_dat1_3
		&pinctrl_mmc0_cd &pinctrl_ssd40>;

	status = "okay";

	slot@0 {
		reg = <0>;
		bus-width = <4>;
		cd-gpios = <&pioC 5 GPIO_ACTIVE_HIGH>;
	};

	slot@1 {
		reg = <1>;
		bus-width = <4>;
	};
};

&usart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usart0 &pinctrl_usart0_rts &pinctrl_usart0_cts
		 &pinctrl_usart0_dtr_dsr &pinctrl_usart0_dcd &pinctrl_usart0_ri>;

	status = "okay";
};

&usart1 {
	pinctrl-names = "default";
	pinctrl-0 =	<&pinctrl_usart1 &pinctrl_usart1_rts &pinctrl_usart1_cts>;

	status = "okay";
};

&macb0 {
	pinctrl-names = "default";
	pinctrl-0 =	<&pinctrl_macb_rmii>;

	phy-mode = "rmii";

	status = "okay";
};

&dbgu {
	status = "okay";
};

&ebi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_nand_cs &pinctrl_nand_rb>;

	status = "okay";
};

&nand_controller {
	status = "okay";

	nand: nand@3 {
		reg = <0x3 0x0 0x800000>;

		rb-gpios = <&pioC 13 GPIO_ACTIVE_HIGH>;
		cs-gpios = <&pioC 14 GPIO_ACTIVE_HIGH>;

		nand-bus-width = <8>;
		nand-ecc-mode = "soft";
		label = "atmel_nand";

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			at91bootstrap@0 {
				label = "at91bs";
				reg = <0x0 0x20000>;
			};

			uboot@20000 {
				label = "u-boot";
				reg = <0x20000 0x80000>;
			};

			ubootenv@a0000 {
				label = "u-boot-env-a";
				reg = <0xa0000 0x20000>;
			};

			ubootenv@c0000 {
				label = "u-boot-env-b";
				reg = <0xc0000 0x20000>;
			};

			kernel-a@e0000 {
				label = "kernel-a";
				reg = <0xe0000 0x500000>;
			};

			kernel-b@5e0000 {
				label = "kernel-b";
				reg = <0x5e0000 0x500000>;
			};

			rootfs-a@ae0000 {
				label = "rootfs-a";
				reg = <0xae0000 0x3000000>;
			};

			rootfs-b@3ae0000 {
				label = "rootfs-b";
				reg = <0x3ae0000 0x3000000>;
			};

			user@6ae0000 {
				label = "user";
				reg = <0x6ae0000 0x14a0000>;
			};
		};
	};
};
