// SPDX-License-Identifier: GPL-2.0
/*
 * at91-wb50n_common.dtsi - Device Tree include common file for the WB50N module
 *
 *  Copyright (C) 2018-2020 Laird Connectivity
 *
 */

#include "sama5d31.dtsi"

/ {
	model = "Laird Workgroup Bridge 50N - Atmel SAMA5D31";
	compatible = "laird,wb50n", "atmel,sama5d31", "atmel,sama5d3", "atmel,sama5";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	aliases {
		mmc0 = &mmc0;
		mmc1 = &mmc1;
	};

	memory@20000000 {
		reg = <0x20000000 0x4000000>;
	};

/*
	wakeup-wifi-bt {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_wifi_wake &pinctrl_bt_wake>;

		compatible = "gpio-wakeup";

		interrupt-names = "wifi-wake", "bt-wake";
		interrupts-extended = <&pioC 31 IRQ_TYPE_EDGE_FALLING>,
			<&pioE 10 IRQ_TYPE_EDGE_FALLING>;
	};
*/
};

&sha {
	status = "disabled";
};

&pinctrl {
	board {
		pinctrl_nand0_wp: nand0_wp {
			atmel,pins =
				<AT91_PIOE 14 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
		};

		pinctrl_wifi_pmu_en: wifi_pmu_en {
			atmel,pins =
				<AT91_PIOE 3 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
		};

		pinctrl_wifi_wake: wifi_wake {
			atmel,pins =
				<AT91_PIOC 31 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP_DEGLITCH>;
		};

		pinctrl_bt_wake: bt_wake {
			atmel,pins =
				<AT91_PIOE 10 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP_DEGLITCH>;
		};
	};
};

&shutdown_controller {
	atmel,wakeup-mode = "low";
};

&watchdog {
	atmel,idle-halt;

	status = "okay";
};

&slow_xtal {
	clock-frequency = <32768>;
};

&main_xtal {
	clock-frequency = <12000000>;
};

&clk32k {
	atmel,osc-bypass;
};

&tcb0 {
	timer0: timer@0 {
		compatible = "atmel,tcb-timer";
		reg = <0>;
	};

	timer1: timer@1 {
		compatible = "atmel,tcb-timer";
		reg = <1>;
	};
};

&mmc0 {
	slot@0 {
		reg = <0>;
		bus-width = <4>;
	};
};

&mmc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_mmc1_clk_cmd_dat0 &pinctrl_mmc1_dat1_3>;

	status = "okay";

	slot@0 {
		reg = <0>;
		bus-width = <4>;
	};
};

&macb1 {
	#address-cells = <1>;
	#size-cells = <0>;

	phy-mode = "rmii";
};

/* USART3 is direct-connect to the Bluetooth UART on the radio SIP */
&usart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usart3 &pinctrl_usart3_rts_cts>;

	atmel,use-dma-rx;
	atmel,use-dma-tx;

	status = "okay";
};

&ebi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ebi_nand_addr &pinctrl_nand0_wp>;

	status = "okay";
};

&nand_controller {
	status = "okay";

	nand: nand@3 {
		reg = <0x3 0x0 0x2>;
		atmel,rb = <0>;
		nand-bus-width = <8>;
		nand-ecc-mode = "hw";
		nand-ecc-strength = <8>;
		nand-ecc-step-size = <512>;

		/*
		 * Note - nand-on-flash-bbt requires the last 4 blocks on
		 * flash to be reserved for bad block table.  These blocks
		 * can be used in partitions only if bbt is not stored on flash.
		 */
		nand-on-flash-bbt;
		label = "atmel_nand";

		wp-gpios = <&pioE 14 GPIO_ACTIVE_HIGH>;

		nand_partitions: partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
		};
	};
};
