// SPDX-License-Identifier: GPL-2.0
/*
 * at91-wb45n.dts - Device Tree file for WB45NBT board
 *
 *  Copyright (C) 2018 Laird Connectivity
 *
 */
/dts-v1/;
#include "at91-wb45n.dtsi"

/ {
	model = "Laird Workgroup Bridge 45N - Atmel AT91SAM (dt)";
	compatible = "laird,wb45n", "laird,wbxx", "atmel,at91sam9x5", "atmel,at91sam9";

	wakeup-dvk {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_wake>;

		compatible = "gpio-wakeup";

		interrupt-names = "button-wake";
		interrupts-extended = <&pioB 18 IRQ_TYPE_EDGE_FALLING>;
	};
};

&pinctrl {
	board {
		pinctrl_wake: wake {
			atmel,pins =
				<AT91_PIOB 18 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP_DEGLITCH>;
		};
	};
};

&usb0 {
	status = "okay";
};

&usb1 {
	status = "okay";
};

&usb2 {
	status = "okay";
};

&spi0 {
	status = "okay";
};

&macb0 {
	status = "okay";

	ethernet-phy@1 {
		reg = <1>;
	};
};

&dbgu {
	atmel,use-dma-tx;
	atmel,use-dma-rx;

	status = "okay";
};

&usart0 {
	atmel,use-dma-tx;
	atmel,use-dma-rx;

	status = "okay";
};

&usart3 {
	atmel,use-dma-tx;
	atmel,use-dma-rx;

	status = "okay";
};

&i2c1 {
	status = "okay";
};
